<link rel="stylesheet" href="header.html" />

<div class="header">
    <div class="wrap">
        <h1>
            <a href="main.html">
                 <img src="/image/logo.png" alt="로고위치" />
            </a>
        </h1>
        <div class="gnb">
            <ul>
                <li>
                    <a href="lecture.html" class="mainnav">상세조회</a>
                </li>
                <li>
                    <a href="#" class="mainnav">장바구니</a>
                </li>
                <li>
                    <a href="mypage.html" class="mainnav">마이페이지</a>
                </li>
                <li>
                    <a href="lms_notices.html" class="mainnav">커뮤니티</a>
                </li>
                <li>
                    <a href="#" class="mainnav">로그아웃</a>
                    <!-- <div class="logoutBtn" onclick="alert('Button clicked!');">로그아웃</div> -->
                    <!-- <div class="logoutBtn" onClick="logout()">로그아웃</div> -->
                </li>
            </ul>
        </div>
    </div>
</div>