<div class="header">
  <div class="wrap">
    <h1>
      <a href="#">
        <img src="" alt="로고위치" />
      </a>
    </h1>
    <div class="gnb">
      <ul>
        <li>
          <a href="#" class="mainnav">상세조회</a>
        </li>
        <li>
          <a href="#" class="mainnav">장바구니</a>
        </li>
        <li>
          <a href="#" class="mainnav">마이페이지</a>
        </li>
        <li>
          <a href="#" class="mainnav">커뮤니티</a>
        </li>
        <li>
          <a href="#" class="mainnav">로그인</a>
        </li>
      </ul>
    </div>
  </div>
</div>
