<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/mgmt_user.css" />
        <link rel="stylesheet" href="/css/sub_navBox.css" />
        <link rel="stylesheet" href="/css/pagination.css" />

        <title>관리자 Dashboard</title>

        <!-- header 에 넣는 이유는 body 에서 사용해야 되기 때문에 미리 로드해야 함 -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div id="header"></div>
            <div class="root">
                <!-- 왼쪽메뉴 -->
                <nav class="sub_navBox">
                    <p class="nav_tit">관리자 메뉴</p>
                    <div class="sub_navBoxIn">
                        <div class="content_wrap">
                            <ul class="sub_nav">
                                <li class='active open '>
                                    <a href="mgmt_user.html">
                                        <span>회원관리</span>
                                    </a>
                                </li>
                                <li class="no_sub">
                                    <a href="mgmt_lecture.html">
                                        <span>강의관리</span>
                                    </a>
                                </li>
                                <li class="no_sub">
                                    <a href="mgmt_enrollment.html">
                                        <span>수강관리</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="main-content">
                    <div class="header">
                        <label class="search label">성명조회</label>
                        <input type="text" class="search input" placeholder="Search by Name">
                        <button class="search button">조회</button>
                    </div>
                    <div class="table-container">
                        <table border="1" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody class="user_list">
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>johndoe@example.com</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jane Smith</td>
                                    <td>janesmith@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <ul>
                        <li>
                            <div class="post-container">
                                <p class="post-number">1</p>
                                <p class="post-title">title</p>
                            </div>
                        </li>
                    </ul> -->
                    <div class="pagination-container">
                        <div class="prev-button">이전</div>
                        <div class="number-button-wrapper"><button class="number-button">1</button></div>
                        <div class="next-button">이후</div>
                    </div>
                    <!-- <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">&raquo;</a>
                    </div> -->
                </div>
            </div>
            <!-- <script>
                document.querySelectorAll('.sidebar ul li a').forEach(item => {
                    item.addEventListener('click', function(event) {
                        document.querySelectorAll('.sidebar ul li a').forEach(link => {
                            link.classList.remove('active');
                        });
                        this.classList.add('active');
                        background-color: #007BFF;
                        color: #fff;
                    });
                });
            </script> -->
            <script src="/js/mgmt_user.js"></script>
            <div id="footer"></div>
        </div>
    </body>
</html>