<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleMypage.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>LMS</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  </head>
<body>
    <div class="sideMenu">
        <div class="sideBtn" id = "sideBtnUserInfo"><a href="mypage.html">회원정보</a></div>
        <div class="sideBtn" id = "sideBtnUserEdu"><a href="mypageEdu.html">나의학습</a></div>
        <div class="sideBtn" id = "sideBtnUserDelete"><a href="mypageDelete.html">회원탈퇴</a></div>
    </div>
  <div class="container">
    <div id="header"></div>
    <div class="root">
    <div class="title">
      <h2>마이페이지</h2>
    </div>

    <div class="userEducation-box">

      <div class="eduMenuBox">
        <div class="edumenu" id="edumenu1"><a href=#>요약정보</a></div>
        <div class="edumenu" id="edumenu2"><a href=#>학습중</a></div>
        <div class="edumenu" id="edumenu3"><a href=#>수강취소</a></div>
        <div class="edumenu" id="edumenu4"><a href=#>수강종료</a></div>
      </div>

      <h2 class="userEducationBoxTitle">나의학습</h2>
        
      <div class="userEduGraphContainer"> <!-- ------------------------------------요약정보------------------------------------ -->

          <div class="userEduGraph">
            <H2 style="text-align: center;">그래프</H2>
            <div class="userEduGraphGraduations">

              <!-- 그래프 눈금 -->
              <ul class="graphY-axis">
                <li id="edgeY-axis"><span>10</span></li>
                <li><span>9</span></li>
                <li><span>8</span></li>
                <li><span>7</span></li>
                <li><span>6</span></li>
                <li><span>5</span></li>
                <li><span>4</span></li>
                <li><span>3</span></li>
                <li><span>2</span></li>
                <li><span>1</span></li>
                <li id="edgeY-axis">
                  <span>0</span>
                </li>
              </ul>

              <!-- 그래프 바 -->
              <ul class="graphBar">
                <li><div id = "classGraphBar1"><div class="graphNumBottom"></div><div class="graphNum graphNum1"></div></div></li>
                <li><div id = "classGraphBar2"><div class="graphNumBottom"></div><div class="graphNum graphNum2"></div></div></li>
                <li><div id = "classGraphBar3"><div class="graphNumBottom"></div><div class="graphNum graphNum3"></div></div></li>
                <li><div id = "classGraphBar4"><div class="graphNumBottom"></div><div class="graphNum graphNum4"></div></div></li>
                <li><div id = "classGraphBar5"><div class="graphNumBottom"></div><div class="graphNum graphNum5"></div></div></li>
                <li><div id = "classGraphBar6"><div class="graphNumBottom"></div><div class="graphNum graphNum6"></div></div></li>
                <li><div id = "classGraphBar7"><div class="graphNumBottom"></div><div class="graphNum graphNum7"></div></div></li>
              </ul>

              <!-- 그래프 목록 -->
              <ul class="graphX-axis">
                <li><div>수강신청</div></li>
                <li><div>수강대기</div></li>
                <li><div>수강반려</div></li>
                <li><div>학습중</div></li>
                <li><div>수료처리중</div></li>
                <li><div>수료</div></li>
                <li><div>미수료</divn></li>
              </ul>
            </div>
          </div>
      </div>

      <div class="userEduStudyingContainer hidden"> <!-- ------------------------------------학습중------------------------------------ -->
        <div class="studyingList">
          <table class="studing-table">
            <thead>
            <tr>
              <th>강의제목</th>
              <th>교육기간간</th>
              <th>진도율</th>
              <th>강의실</th>
            </tr>
            </thead>
            <tbody class="studying-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div id="footer"></div>
  </div>
  <script src="/js/mypageEdu.js"></script>
</body>
</html>