<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleMypage.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>LMS</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  </head>
<body>
  <div class="container">
        <div class="header">
      <div class="wrap">
        <h1>
          <a href="main.html">
            <img src="/image/logo.png" alt="로고위치" />
          </a>
        </h1>
        <div class="gnb">
          <ul>
            <li>
              <a href="lecture.html" class="mainnav">상세조회</a>
            </li>
            <li>
              <a href="cart.html" class="mainnav">장바구니</a>
            </li>
            <li>
              <a href="mypage.html" class="mainnav">마이페이지</a>
            </li>
            <li>
              <a href="lms_notices.html" class="mainnav">커뮤니티</a>
            </li>
            <li>
              <a href="login.html" id="login" class="mainnav">로그인</a>
              <a href="login.html" id="logout" class="mainnav hidden">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="root">
      <div class="sideMenu">
        <div class="title">마이페이지</div>
          <div class="sideBtn" id = "sideBtnUserInfo"><a href="mypage.html">회원정보</a></div>
          <div class="sideBtn" id = "sideBtnUserLecture"><a href="mypageLecture.html">나의학습</a></div>
          <div class="sideBtn" style="background-color: steelblue; border: 2px solid white;" 
          id = "sideBtnUserDelete"><a style="color: white;" href="mypageUserDelete.html">회원탈퇴</a></div>
      </div>
    <div class="userDelete-box"> <!-- ------------------------------------회원탈퇴------------------------------------ -->

      <h2 class="userDeleteBoxTitle">회원탈퇴</h2>
        <div class="userDeleteContainer">
        <table class="delete-table">
          <div class="userDeleteNotice1">현재 운영 중인 수강 과목에 대해서는 자동 수강 취소되며, 이수한 과목의 수료증 출력이 불가능합니다.</div>
          <div class="userDeleteNotice2">※ STEP 탈퇴 시 모든 훈련기관에서 탈퇴되며, 동일 아이디로 재가입할 수 없습니다.</div>
          <thead>
            <colgroup>
              <col style="width: 20%;">
              <col style="width: 30%;">
              <col style="width: 35%;">
              <col style="width: 15%;">
            </colgroup>
            <tr class="deleteList deleteList1">
              <th>아이디</th>
              <th>훈련기관명</th>
              <th>가입일</th>
              <th>탈퇴 확인</th>
            </tr>
            <tr class="deleteList deleteList2">
              <th class="deleteUserId"></th>
              <th class="deleteOffice"></th>
              <th class="deleteJoinDate"></th>
              <th class="deleteSelect"><input class="deleteSelectBox" type="checkbox"></th>
            </tr>
          </thead>
        </table>
        <h2 class="userDeleteReasonTitle">탈퇴사유</h2>
        <div class="userDeleteReasonBox">
          <textarea minlength = "2" id="userDeleteReason" rows="3" placeholder="탈퇴 사유를 입력해주세요" 
          onkeyup="textMinLength()" oninput="handleResizeHeight()"></textarea>
        </div>
        <div class="textMinLengthAlert hidden">*탈퇴 사유를 2자 이상 입력하세요.</div>
        <div class="userDeleteBtn">회원탈퇴</div>
      </div>
          
    </div>
    </div>
    <div id="footer"></div>
  </div>
  <script src="/js/mypageUserDelete.js"></script>
  <script defer src="/js/common.js"></script>
</body>
</html>