<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/footer.css" />

    <!-- Google 폰트 => Poppins Embed code 사용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>LMS</title>
  </head>
  <body>

    <div class="footer">
      <div class="wrap">
        <h1>
          <a href="#"><img src="/image/logo.png" alt="로고위치" /></a>
        </h1>
        <p>Copyright ⓒ STEP . LMS.</p>
        <div class="snsnav">
          <ul>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">INSTAGRAM</a></li>
            <li class="last"><a href="#">TWITTER</a></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>