<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="title">
      <h1>GAME SHOP</h1>
    </div>
    <div class="menu">
      <div><a href="index.html">HOME</a></div>
      <div><a href="board.html">BOARD</a></div>
      <div><a href="mypage.html">MY PAGE</a></div>
      <div><a href="login.html">LOGIN</a></div>
      <div><a href="cart.html">CART</a></div>
    </div>
    <div class="mypage">
      <div class="admin_page hidden">
        <h3>관리자 페이지</h3>
        <label for="dropdown">구매정보 : </label>
        <select id="dropdown">
          <option value="all" selected>ALL</option>
          <option value="userId">User ID</option>
        </select>
        <input type="text" id="userIdInput" />
        <div class="pageSubmitBtn">Submit</div>
      </div>   
      <div class="user_page hidden">  
        <h3>유저 페이지</h3>      
      </div>   
      <table class="purchase-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>게임ID</th>
            <th>구매게임</th>
            <th>구매유저</th>
            <th>구매날짜</th>
          </tr>
        </thead>
        <tbody class="purchase-body"></tbody>
      </table>
    </div>
    <div class="footer">
      <h3>FOOTER</h3>
    </div>
  </div>
  <script src="/js/mypage.js"></script>
</body>
</html>