@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, GmarketSansMedium;
    text-decoration: none;
    color: inherit;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
  }
  .title {
    width: 100%;
    height: 150px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: dodgerblue;
  }
  .menu {
    width: 100%;
    background-color: dodgerblue;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .content {
    width: 100%;
    background-color: khaki;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  .footer {
    width: 100%;
    height: 100px;
    background-color: lightblue;
    padding: 20px;
  }
  .menu > div {
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .menu > div:hover {
    color: dodgerblue;
    background-color: white;
    cursor: pointer;
  }
  .game {
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    padding-bottom: 20px;
  }
  .game:hover {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
    transform: translate(0px, -5px);
    cursor: pointer;
  }
  .image {
    width: 100%;
  }
  .content p {
    margin: 0 0 5px 10px;
  }
  .product {
    width: 100%;
    background-color: khaki;
    padding: 20px;
  }
  .product p {
    margin: 10px 20px;
  }
  .login {
    background-color: khaki;
    display: flex;
    align-items: center;
    padding: 50px;
  }
  .login-box {
    width: 450px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border-radius: 5px;
  }
  .loginBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
  }
  .logoutBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }
  .signupBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }
  .purchaseBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px;
    display: inline-block;
  }
  .pageSubmitBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
  }
  .removeBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
  }
  .writeBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }
  .loginBtn:hover,
  .logoutBtn:hover,
  .purchaseBtn:hover,
  .cartBtn:hover,
  .pageSubmitBtn:hover,
  .removeBtn:hover,
  .writeBtn:hover {
    background-color: lightblue;
    color: dodgerblue;
  }
  .user-box {
    width: 450px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    border-radius: 5px;
  }
  .signup-box {
    width: 450px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    border-radius: 5px;
  }
  .low-box {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
  }
  .cartBtn {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
  }
  .cart {
    width: 100%;
    background-color: khaki;
    padding: 20px;
  }
  .cart-table,
  .purchase-table,
  .board-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
  }
  .cart-table td,
  .purchase-table td,
  .board-table td {
    text-align: center;
  }
  .cart-table thead,
  .purchase-table thead,
  .board-table thead {
    background-color: #27ae60;
    height: 50px;
  }
  .cart-table tr:nth-child(even) td,
  .purchase-table tr:nth-child(even) td,
  .board-table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .imgtd {
    width: 200px;
  }
  .totalprice {
    display: inline-block;
  }
  .mypage {
    width: 100%;
    background-color: khaki;
    padding: 20px;
  }
  .board {
    width: 100%;
    padding: 20px;
  }
  .board-title {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board-table {
    width: 100%;
    border-spacing: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 20px;
  }
  .board-table th {
    height: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  .board-table td {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .board-table tbody tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .board-table tbody tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .board-table th:nth-child(1) {
    width: 5%;
  }
  .board-table th:nth-child(2) {
    width: 60%;
  }
  .board-table th:nth-child(3) {
    width: 10%;
  }
  .board-table th:nth-child(4) {
    width: 25%;
  }
  .board-page {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 100px;
    position: relative;
  }
  .board-page-left,
  .board-page-right {
    cursor: pointer;
    color: #777;
  }
  .board-page-num {
    display: flex;
    column-gap: 10px;
  }
  .board-page-num div {
    cursor: pointer;
  }
  .num-box {
    width: 20px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    text-align: center;
    line-height: 20px;
    padding: 2px;
  }
  .item-text {
    width: 100%;
  }
  .item-text .item-text-head {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 5fr 60fr 10fr 25fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .item-text .item-text-body {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    white-space: pre-wrap;
  }
  .item-text .item-text-body p {
    display: inline-block;
  }
  .item-text-back-btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #777;
  }
  .td-no-style {
    background-color: white !important;
    border: none !important;
  }
  
  /* 모달창 스타일링 시작 */
  .modal {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    border-radius: 5px;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 0.8fr 0.8fr 7.6fr 0.8fr;
    justify-content: center;
    align-items: top;
    gap: 5px;
    padding: 10px 30px;
  }
  .modal-title,
  .modal-writer {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 10px;
  }
  .modal-text {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 10px;
  }
  .modal-close-btn,
  .modal-save-btn {
    width: 100px;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  .modal-save-btn {
    right: 150px;
  }
  .modal-close-btn:hover,
  .modal-save-btn:hover {
    background-color: lightblue;
    color: dodgerblue;
  }
  .backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  /* 모달창 스타일링 끝 */
  
  /* hidden 클래스 스타일은 파일의 제일 아래에 놓자!! */
  .hidden {
    display: none;
  }