/* 한글폰트 */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, GmarketSansMedium;
    text-decoration: none;
    color: inherit;
  }
  /* base */
  * {
    padding: 0;
    margin: 0;
    color: #333333;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    border: none;
  }
  .header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #333333;
    box-sizing: border-box;
  }
  .wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .header h1 {
    float: left;
    width: 400px;
    height: 100%;
    padding-top: 27px;
    box-sizing: border-box;
  }
  .headerLoginBtn {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    cursor: pointer;
  }
  /* gnb */
  .gnb {
    float: right;
    width: 750px;
    height: 100%;
  }
  .gnb > ul > li {
    float: left;
    width: 150px;
    height: 94px;
    line-height: 94px;
    text-align: center;
  
    position: relative;
  }
  .gnb .mainnav {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  .gnb li .mainnav:hover {
    color: #333333;
  }
  
  /* footer */
  .footer {
    width: 100%;
    height: 100px;
    background-color: #333333;
  }
  .footer h1 {
    float: left;
    width: 400px;
    height: 100px;
    padding-top: 30px;
    box-sizing: border-box;
  }
  .footer p {
    float: left;
    width: 400px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    text-align: center;
  }
  .snsnav {
    float: right;
    width: 400px;
    height: 100px;
    line-height: 100px;
  }
  .snsnav ul {
    float: right;
  }
  .snsnav li {
    float: left;
    margin: 0 10px;
  }
  .snsnav a {
    color: #fff;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
  }
  
  /* 타이틀 클래스 */
  .title {
    width: 100%;
    height: 150px;
    background-color: lightblue;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /*font-size: 32px; 기본 size 16px */
    font-size: 2rem; /* rem 단위 사용 */
    color: dodgerblue;
  }

  .userInfo-box, .userEducation-box, .userDelete-box {
    width: 100%;
    /* height: 500px; */
    background-color: khaki;
    padding: 20px;
  }

  .userDataUpdate{
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 30px 30px auto; /* 위아래 0, 좌우 가운데 */
  }
  
  .userDataUpdate:hover, .adressSearchButton:hover {
    background-color: lightblue;
    color: dodgerblue;
  }

.sideMenu {
    position: sticky;
    position: -webkit-sticky;
    position: fixed;
    width: 200px;
    top: 10%;
    margin-left: 25px;
    background-color: #27ea60;
    border: 2px solid #333333;
    text-align: center;
    padding: 20px 5px;
    border-radius: 10px;
  }
  
  .sideBtn {
    font-size: 1.8rem;
    border: 1px solid #333333;
    margin: 10px;
    padding: 5px 0 5px 0;
    border-radius: 5px;
  }
  
  .userInfoBoxTitle, .userEducationBoxTitle, .userDeleteBoxTitle {
    margin: 0 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 500;
  }
  
  .userGridContainer {
    display: grid;
    grid-template-columns:  1.3fr 0.7fr 1fr 1fr 1.3fr 0.7fr 1fr 1fr;
    background-color: #2196F3;
    border: 1px solid #333333;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    margin: 0 0 20px 0;
  }

  .userEducationContainer ,.userDeleteContainer {
    height: 5000px;
  }
  
  .userGridContainer > div{
    display: inline;
    background-color: #ffffff;
    font-size: 20px;
    border: 1px solid #333333;
    height: 50px;
    white-space: nowrap;
    padding-right: 5px;
    line-height : 50px;
  }
  
  .userGridContainer > div > input {
    width: 100%;
    margin: 0;
    outline: none;
    background: transparent;
    border: none;
    height: inherit;
    font-size: 20px;
    border-radius: 0;
    padding: 0 10px;
  }
  
  .userGrid1, .userGrid5, .userGrid9, .userGrid13,.userGrid17, .userGrid21, .userGrid23 {
    grid-column: 1 / span 1;
    text-align: right;
  }
  .userGrid2, .userGrid6, .userGrid10, .userGrid14, .userGrid18 {
    grid-column: span 3;
    text-align: left;
  }
  .userGrid3, .userGrid7, .userGrid11, .userGrid15,.userGrid19 {
    grid-column: span 1;
    text-align: right;
  }
  .userGrid4, .userGrid8, .userGrid12, .userGrid16,.userGrid20 {
    grid-column: span 3;
    text-align: left;
  }
  .userGrid22, .userGrid24 {
    grid-column: span 7;
  }

  .userGrid > div{
    margin-left: 10px;
    color: #6b6bbd;
  }
  
  #userGrid22 {
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 1.2fr 4fr 4fr;
    align-items: center;
  }
  
  .adressBox {
    width: 95% !important;
    height: 90% !important;
    margin: 0 auto !important;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 18px;
    white-space: nowrap;
    border: 0.5px solid #333333 !important;
    border-radius: 5px !important;
    line-height :normal !important;
  }
  
  .adressSearchButton{
    font-size: 16px;
    text-align: center;
    padding: 6px;
    border: 2px solid #333333 !important;
    background-color: dodgerblue;
    color: white;
    white-space: nowrap;
    cursor: pointer;
  }

  .userEduGraph {
    width: 90%;
    height: 600px;
    border: 7px solid #333333;
    border-radius: 20px;
    margin: 0 auto;
  }

  .userEduGraphGraduations {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    height: 400px;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    margin: 30px auto;
  }

  .hidden {
    display: none;
  }
  